{% extends 'layout.html.twig' %}

{% block content %}
    <div class="uk-text-center uk-margin-large-top">
        <h1>Ajouter une fleur</h1>
    </div>
    {% include 'Stock/_form.html.twig' %}
    <div class="uk-text-center">
        <a href="/Home/compte"><button class="uk-button uk-button-default">Back</button></a>
    </div>
{% endblock %}
