{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Nom : {{ stock.name }}</h1>
        <h3>Description</h3>
    <p>{{stock.description}}</p>
    <a href="/stock/edit/{{ stock.id }}">Edit</a>
    <form action="/stock/delete/{{stock.id}}" method="POST">
        <button class="uk-button uk-button-default">Delete</button>
    </form>
    <a class="uk-button uk-button-default" href="/stock/index">Back</a>
{% endblock %}
