{% extends 'layout.html.twig' %}


{% block title %} Inscription - {{ parent() }} {% endblock %}

{% block content %}
    <!-- Made by Mélissa Kintz-->
    <ul>
        {% for error in errors %}
            <li> {{ error }} </li>
        {% endfor %}

        {% if message is defined %}
            <li> {{ message }} </li>
        {% endif %}
    </ul>
    {% if session.login is defined %}
        <p class ="uk-text-center">Pas la peine de vous inscrire : vous êtes déjà connecté avec l'email suivante : {{ session.login }}</p>
        <p class ="uk-text-center"><a href="/Connexion/deconnexion">Déconnexion</a></p>
    {% else %}

        <!-- form inscription-->
        <form method="post" action="/connexion/addUser" class="uk-form-width-large uk-align-center">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend uk-text-center">Inscription</legend>

                <div class="uk-block uk-margin">
                    <input required class="uk-input uk-border-rounded" type="text"  name="firstname" placeholder="Prénom">
                </div>
                <div class="uk-block uk-margin">
                    <input required class="uk-input uk-border-rounded" type="text" name="lastname" placeholder="Nom">
                </div>
                <div class="uk-block uk-margin">
                    <input required class="uk-input uk-border-rounded" type="email" name="email" placeholder="Email">
                </div>
                <div class="uk-block uk-margin">
                    <input required class="uk-input uk-border-rounded" type="tel"  name="phone" placeholder="Numéro de téléphone">
                </div>
                <div class="uk-block uk-margin">
                    <input required class="uk-input uk-border-rounded" type="password"  name="password" placeholder="Mot de passe">
                </div>
                <div class="uk-block uk-margin">
                    <input required class="uk-input uk-border-rounded" type="password"  name="passwordVerif" placeholder="Confirmation mot de passe">
                </div>
                <div class="uk-block uk-margin">
                    <input class="uk-input uk-form-width-small uk-border-rounded" type="submit" value="Valider">
                </div>
            </fieldset>
        </form>
        <p class="uk-text-center">Déjà inscrit ? <a href="/Home/LogIn">Connexion</a></p>
    {% endif %}

{% endblock %}