{% extends 'layout.html.twig' %}

{% block content %}
    <div class="uk-text-center uk-margin-large-top">
        <h1>Modifier mes informations</h1>
    </div>
    {% include 'Customer/_form.html.twig' %}
    <div class="uk-text-center">
        {% if session.admin == true %}
        <a href="/Customer/index"><button class="uk-button uk-button-default">Back</button></a>
        {% else %}
        <a href="/Home/compte"><button class="uk-button uk-button-default">Back</button></a>
        {% endif %}
    </div>
{% endblock %}
