{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new bouquet</h1>
    {% include 'BouquetCustomer/_form.html.twig' %}
        <a href="/bouquetCustomer/index">Back</a>
{% endblock %}
