<!-- Made by Mélissa Kintz-->
<div class = 'banner'>
    <h1>Choisi ou compose <i>le</i> bouquet idéal <span class="uk-visible@s">pour toutes les occasions</span></h1>
    <p class="uk-visible@s">
        Chez nous, vous pouvez choisir entre des bouquets déjà composés, ou en composer un vous-même!<br/>
        <span class="uk-visible@l">Une fois commandé, il n'y a plus qu'à se rendre en magasin pour le récupérer!</span>
    </p>

    <div class = "uk-flex uk-flex-center uk-grid-medium">
        <div>
            <a href="/Home/choisiBouquet" class="button uk-visible@s uk-border-rounded">Choisi ton bouquet</a>
        </div>

        <div>
            <a href="/Home/composeBouquet" class="button uk-border-rounded">Compose ton bouquet</a>
        </div>
    </div>
</div>