<!-- Made by Mélissa Kintz-->
<article class="uk-border-rounded uk-comment uk-comment-primary uk-margin uk-margin-right uk-margin-left">
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Guide de composition</a></h4>
            </div>
        </div>
    </header>
    <div class="uk-comment-body">
        <p>Pour composer votre bouquet, il suffit d’ajouter les fleurs voulues parmi celles disponibles ci-dessous et de cliquer sur ‘ajouter au panier’. Et cela, autant que vous voulez ! Une fois fait, rendez-vous dans votre panier pour passer commande ou pour l'enregistrer dans votre compte!</p>
    </div>
</article>